.idea/
xdebug.ini
docker-compose.yaml
redis-data
certs

/json-api
/pubsub
/baum

/web/node_modules
/web/public/hot
/web/public/storage
/web/storage
/web/vendor
/web/.idea
/web/.env
/web/.env-production
/web/composer.lock
/web/package-lock.json

conf/.env
conf/mime.types
conf/nginx.conf
conf/server_blocks.conf
conf/sumra-pool.conf
